.leather-tag {
  padding: 6px;
  border: 1px solid #acacac;
  border-radius: 4px;
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.leather-tag__item {
  display: flex;
  align-items: center;
  column-gap: 4px;
  padding: 2px;
  padding-left: 6px;
  background-color: #f3f3f3;
  border-radius: 4px;
  line-height: 20px;
}
.leather-tag__item.leather-tag__item--animation {
  position: relative;
  z-index: 1;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: leatherTagItemAnimation;
  animation-name: leatherTagItemAnimation;
}
.leather-tag__item--disabled {
  cursor: default;
  padding-right: 6px;
  background-image: repeating-linear-gradient(-45deg, #f7f7f7 0 3px, #bfbfbf 3px 6px);
}

.leather-tag__value {
  font-size: 14px;
}

.leather-tag__value[contenteditable="true"] {
  outline: none;
}

.leather-tag__btn-remove {
  padding: 2px;
  margin: 0;
  line-height: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
}
.leather-tag__btn-remove:hover {
  background-color: #ddd;
}

.leather-tag__btn-remove svg path {
  fill: #767676;
}

.leather-tag__input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  margin-left: 6px;
  flex-grow: 1;
  height: 24px;
  font-size: 14px;
}

.leather-tag.leather-tag--disabled .leather-tag__item {
  padding-right: 6px;
}
.leather-tag.leather-tag--disabled .leather-tag__btn-remove,
.leather-tag.leather-tag--disabled .leather-tag__input {
  display: none;
}

.leather-tag__autocomplete {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #fff;
  box-shadow: 0px 1px 8px rgb(0 0 0 / 40%);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  max-height: 250px;
  overflow: auto;
  position: fixed;
}

.leather-tag__autocomplete ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.leather-tag__autocomplete li {
  line-height: 26px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 16px;
  user-select: none;
  cursor: pointer;
}

.leather-tag__autocomplete li:hover,
.leather-tag__autocomplete li.leather-tag__autocomplete-li--focused {
  background-color: #ededed;
}

@-webkit-keyframes leatherTagItemAnimation {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  50% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  75% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes leatherTagItemAnimation {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  50% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  75% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}