.yk-tags {
  padding: 6px;
  border: 1px solid #acacac;
  border-radius: 4px;
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.yk-tags__item {
  display: flex;
  align-items: center;
  column-gap: 4px;
  padding: 2px;
  padding-left: 6px;
  background-color: #f3f3f3;
  border-radius: 4px;
  line-height: 20px;
}
.yk-tags__item.yk-tags__item--animation {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: ykTagItemAnimation;
  animation-name: ykTagItemAnimation;
}

.yk-tags__value {
  font-size: 14px;
}

.yk-tags__btn-remove {
  padding: 2px;
  margin: 0;
  line-height: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
}
.yk-tags__btn-remove:hover {
  background-color: #ddd;
}

.yk-tags__input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  margin-left: 6px;
  flex-grow: 1;
  height: 24px;
  font-size: 14px;
}

.yk-tags.yk-tags--disabled .yk-tags__item {
  padding-right: 6px;
}
.yk-tags.yk-tags--disabled .yk-tags__btn-remove,
.yk-tags.yk-tags--disabled .yk-tags__input {
  display: none;
}

.yk-tags__autocomplete {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #fff;
  box-shadow: 0px 1px 8px rgb(0 0 0 / 40%);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  max-height: 250px;
  overflow: auto;
  position: fixed;
}

.yk-tags__autocomplete ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.yk-tags__autocomplete li {
  line-height: 26px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 16px;
  user-select: none;
  cursor: pointer;
}

.yk-tags__autocomplete li:hover,
.yk-tags__autocomplete li.yk-tags__autocomplete-li--focused {
  background-color: #ededed;
}

@-webkit-keyframes ykTagItemAnimation {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(-6px) rotateY(-9deg);
    transform: translateX(-6px) rotateY(-9deg);
  }
  20% {
    -webkit-transform: translateX(5px) rotateY(7deg);
    transform: translateX(5px) rotateY(7deg);
  }
  30% {
    -webkit-transform: translateX(-3px) rotateY(-5deg);
    transform: translateX(-3px) rotateY(-5deg);
  }
  45% {
    -webkit-transform: translateX(2px) rotateY(3deg);
    transform: translateX(2px) rotateY(3deg);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes ykTagItemAnimation {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(-6px) rotateY(-9deg);
    transform: translateX(-6px) rotateY(-9deg);
  }
  20% {
    -webkit-transform: translateX(5px) rotateY(7deg);
    transform: translateX(5px) rotateY(7deg);
  }
  30% {
    -webkit-transform: translateX(-3px) rotateY(-5deg);
    transform: translateX(-3px) rotateY(-5deg);
  }
  45% {
    -webkit-transform: translateX(2px) rotateY(3deg);
    transform: translateX(2px) rotateY(3deg);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}